.c-backtop-1 {
    line-height: 50px !important;
}

.c-backtop-1 i:before {
    font-size: 17px !important;
}

.c-backtop-1 i {
    bottom: 50px !important;
}

.c-backtop-1 {
    background-color: #8761a8;
    background-image: -webkit-gradient(linear, left top, right top, from(#8761a8), to(#f4929b));
    background-image: -webkit-linear-gradient(left, #8761a8 0, #f4929b 100%);
    background-image: -o-linear-gradient(left, #8761a8 0, #f4929b 100%);
    background-image: linear-gradient(to right, #8761a8 0, #f4929b 100%);
}

.nt-img-lg_d img {
    width: 45px !important;
}

.nt-img-logo img {
    height: 51px !important;
}

.nt-text-logo {}

.header.sticky .nt-text-logo {}

.fixed-menu.open .nt-text-logo {}

@media (max-width: 1200px) {

    .fixed-menu .fixed-menu__content,
    .mob-menu__item {
        text-align: left !important;
    }

    .fixed-menu ul>li>a {}
}

#widget-area .c-sidebar-1-widget {
    -webkit-box-shadow: ;
    -moz-box-shadow: ;
    box-shadow: ;
}

#widget-area .c-sidebar-1-widget-title,
.widget-title:after {}

.page-id-279.hero-fullwidth {
    background-image: url(https://f8g8b9p5.rocketcdn.me/themes/cryptoland/wp-content/themes/cryptoland/framework/images/main_bg.png);
}

.page-id-279.hero-fullwidth {
    height: 55vh !important;
    max-height: 100%;
}

@media (max-width: 767px) {
    .page-id-279.hero-fullwidth {
        max-height: 60vh !important;
    }
}

.page-id-279.hero-fullwidth .hero-content {
    text-align: center !important;
}

.page-id-279.hero-fullwidth {}

.page-id-279 .hero-content .hero-innner-last-child .u-text-hero {}

@media screen and (max-width: 992px) {
    .page-id-279 .hero-content .hero-innner-last-child .u-text-hero {}
}

@media screen and (max-width: 768px) {
    .page-id-279 .hero-content .hero-innner-last-child .u-text-hero {}
}

@media screen and (max-width: 576px) {
    .page-id-279 .hero-content .hero-innner-last-child .u-text-hero {}
}

.page-id-279 h6.u-text-sup {}

.page-id-279 .hero-content .hero-innner-last-child .u-text-lead {}

.page-id-279 .breadcrumb span,
.single .breadcrumb {}

.page-id-279 .header:not(.sticky) {
    background-color: transparent !important;
}

.page-id-279.hero-fullwidth {}

.page-id-279.hero-fullwidth .hero-content {
    text-align: left !important;
}

.footer-widget-area {}

.footer-widget-area {
    padding-top: 96px !important;
}

.footer-widget-area {}

.copyright {
    padding-top: 44px !important;
    padding-bottom: 65px !important;
}

.copyright {}

body {}

body h1 {}

body h2 {}

body h3 {}

body h4 {}

body h5 {}

body h6 {}

body p {}